# Build directory
[Bb]in/

# Intermidate directory
[Ii]ntermidate/

# Cache/Settings directory
.vs/
.vscode/

# User specific files
*.user

# Project files
Makefile
*.make
*.xcodeproj
*.xcworkspace
*.sln
*.vcproj*
*.vcxproj*
*.workspace
*.project